@font-face {
  font-family: 'Koulen';
  src: url('fonts/Koulen-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: mediumpurple;
}

h1{
    text-align: center;
    font-family: Koulen;
    color:black;
}

.container{
    display:flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

#box1{
    background-color:#9e9e9e;
    width: 60%;
    height: 400px;
}